* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#container {
    display: flex;
    background-color: #2D2D2C;
    height: 100%;
    flex-direction: column;
}

header {
    border-bottom: 1px solid white;
}

.title {
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/repeat neat trick, didnt know you could have functions in css!*/
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid #71716E;
    min-width: 60px;
    min-height: 60px;
    font-size: 2rem;
    font-weight: bold;
}
