* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#container {
    display: flex;
    background-color: #2D2D2C;
    height: 100%;
    flex-direction: column;
}

header {
    border-bottom: 1px solid white;
}

.title {
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}